{
    "svelteSortOrder" : "scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": true,
    "semi": true,
    "singleQuote": true
}